.text-bold {
    font-weight: 600;
}

a {
    text-decoration: none;
}
// FLEX

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.flex-center-both {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.my-2 {
    margin: 0 15px;
}
